@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (IsAuthorized)
{
    <a class="dropdown-item" href="admin/categories">Categories</a>
    <a class="dropdown-item" href="admin/product-types">Product Types</a>
    <a class="dropdown-item" href="admin/products">Products</a>
    <hr/>
}

@code {

    public bool IsAuthorized { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var role = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;

        if (!string.IsNullOrWhiteSpace(role) && role.Contains("Admin"))
        {
            IsAuthorized = true;
        }
    }

}